Source: ext-ssh
Section: admin
Priority: optional
Maintainer: z17 Dev <mail@z17.dev>
Uploaders: z17 Dev <mail@z17.dev>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.1
Homepage: https://pkgstore.gitlab.io
Vcs-Browser: https://github.com/pkgstore/linux-deb-ext-ssh
Vcs-Git: https://github.com/pkgstore/linux-deb-ext-ssh.git
Rules-Requires-Root: no

# -------------------------------------------------------------------------------------------------------------------- #
# Package: ext-ssh
# -------------------------------------------------------------------------------------------------------------------- #

Package: ext-ssh
Architecture: all
Depends: ssh
        ,${misc:Depends}
Description: META-package for configure OpenSSH client and OpenSSH server
 META-package for configure OpenSSH client and OpenSSH server.
